.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  background-image: url('https://images.ctfassets.net/rporu91m20dc/3UQ79DPixyYCMmE6QgmGI2/2e62109f84f523e07410123d2c4da401/TESLegends_boxart-template-1200x1476.jpg');
  height:100vh;
  background-size: cover;
  overflow: auto;
}

h1 {
  color: white;
  font-size: 48px;
}

.card-list {
  overflow: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  width: 95%;
  background-color: lightgrey;
  margin-left: 35px;
}
